.navbar {
	height: 150px;
	backdrop-filter: blur(10px);
	padding: 0;
}

.navbar-nav {
	width: 100%;
}

.navbar-brand {
    font-size: 36px !important;
    margin-left: 100px;
}

.nav-link {
	margin-right: 60px;
}
