.intro {
	padding: {
		top: 200px;
		left: 100px;
		bottom: 40px;
	}
	
	> p:nth-child(1) {
		font-size: 16pt;
	}
	> p:nth-child(3) {
		font-size: 11pt;
	}

	> h1 {
		margin-top: 90px;
		margin-bottom: 40px;
	}
}

.overall-experiences {
    background-color: #18191C;
    padding: 80px 100px 80px 100px;
}

.career-box {
    background-color: white;
	border-radius: 10px;
	color: #3C3C3C;
}
